{% extends "::layout.html.twig" %}

{% block body %}
	<div class="well text-center">
		<h1>Oops! Il y a un petit problème</h1>
        <h2>
            Ce n'est pas cette page que vous chercher : "{{ status_code }} {{ status_text }}".
        </h2>
    </div>
{% endblock %}
