{% extends "JPISoluxBundle:Caisse:form_achat.html.twig" %}

{% block achat_caisse_config %}
<div class="hidden" id="caisse-config" data-add="1"></div>
{% endblock achat_caisse_config %}

{% block achat_titre %}
	{{ 'caisse.add.titre'|trans }}
{% endblock achat_titre %}

{% block achat_total %}
<span>0</span>
{% endblock achat_total %}

{% block achat_total_paye %}
<span>0</span>
{% endblock achat_total_paye %}

{% block achat_link_return %}
	{{ path("jpi_solux_caisse") }}
{% endblock achat_link_return %}
