{% block button_widget -%}
	 {% set attr = attr|merge({class: (attr.class|default('') ~ ' btn btn-default pull-right')|trim}) %}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><span class="glyphicon {{ jpi_icon_classe }}"></span> {{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}
