{% extends "JPISoluxBundle:Form:show.html.twig" %}

{% block jpi_solux_show_content %}
<p class="list-group-item">Reste pour vivre. De : {{ entity.min|localizedcurrency(currency) }} à {{ entity.max|localizedcurrency(currency) }}</p>
<p class="list-group-item">Taux : {{ (entity.taux *100)|localizednumber  }} %</p>
{% endblock jpi_solux_show_content %}
