{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="alert alert-warning col-lg-12">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
{% endblock fos_user_content %}
