{{ form_start(formDelete, {'action': path("jpi_user_delete", { 'id': user.id })}) }}
{{ form_errors(formDelete) }}
{{ form_rest(formDelete) }}
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
{{ form_end(formDelete) }}
